body{
    background-color: rgb(138, 43, 226);
    color: white;
}

#trackContainer{
    background-color: white;
    color: black;
    margin: 30px;

}

footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: rgb(79, 2, 82);
}